<!DOCTYPE html>
<html lang="ja">
<head>

<meta charset="utf-8">

<link rel="stylesheet" href="/css/all.css">
<script type="text/javascript" src="/js/ajax.js"></script>

<!-- for jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- for touch device -->
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

<!-- for jquery sortable -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">

<!-- for jquery x-editable -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/jqueryui-editable/js/jqueryui-editable.min.js"></script>

<title>Board <%= @title %></title>
</head>
<body>

<%= yield %>

</body>
</html>
