<div class="container">

<h2 class="ui-widget-header ui-corner-all">login</h2>

<form action="" method="post">
email:<input type="text" name="email" value="" /><br />
password:<input type="text" name="password" value="" /><br />
<input type="submit" value="log in" />
</form>

</div>