<div class="container">

if you have account?<br/ >
<a href="/log_in">log in</a>
<br />

<h2 class="ui-widget-header ui-corner-all">signup</h2>
<form action="sign_up" method="post">
name:<input type="text" name="name" value="" /><br />
email:<input type="text" name="email" value="" /><br />
password:<input type="text" name="password" value="" /><br />
confirm_password:<input type="text" name="confirm_password" value="" /><br />

<input type="submit" value="signup" />
</form>
<form action="request_token" method="get">
<input type="hidden" name="facebook" value="1" />
<input type="submit" value="facebook-signup" />
</form>

</div>
