#sortable-li {
  padding: 0px;
  list-style-type: none;
  width: 98%;
}

#sortable-li li {
  background: #eee;
  border-bottom: 1px solid #333;
  width: 100%;
  display: block;
  padding: 5px;
  cursor: pointer;
}

#sortable-li .ui-icon {
  float: right;
  cursor: move;
  margin-top: 5px;
}

#sortable-li .deleteCmd {
  float: right;
  cursor: pointer;
  color: blue;
  margin-left: 15px;
}

#add-form .addCmd {
  cursor: pointer;
  color: blue;
}
