.ui-icon {
  zoom: 180%;
}

#sortable-li {
  padding: 0px;
  list-style-type: none;
  width: 60%;
}

#sortable-li li {
  background: #eee;
  border-bottom: 1px solid #333;
  width: 100%;
  display: block;
  padding: 5px;
  cursor: pointer;
}

#sortable-li .moveCmd {
  float: right;
  cursor: move;
}

#sortable-li .deleteCmd {
  float: right;
  cursor: pointer;
  color: blue;
  margin-left: 10px;
}

#add-form .body {
  float: left;
  margin-right: 10px;
}

#add-form .addCmd {
  margin-top: 5px;
  cursor: pointer;
}
